﻿
@{
    ViewBag.Title = "Index";
}

<section class="col col-lg-12" id="section-spa">

    @Html.Partial("_ListaClientes")
    @Html.Partial("_Details")
    @Html.Partial("_Create")
    @Html.Partial("_Edit")
    @Html.Partial("_Relatorio")
</section>
<script src="~/Scripts/js/viewModels/ClienteViewModel.js"></script>
<script src="~/Scripts/js/Controller/ClienteController.js"></script>
<script src="~/Scripts/js/Controller/ChartController.js"></script>