﻿ <!-- ko with: ClienteDetails  -->
<h2>Detalhe Cliente</h2>
<div class="col col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <label>Código</label>
            <label data-bind="text:Id"></label>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <label>Nome:</label>
            <label data-bind="text:NomeCliente"></label>
        </div>
        <div class="col-lg-3">
            <label>Idade:</label>
            <label data-bind="text:Idade"></label>
        </div>
        <div class="col-lg-3">
            <label>Sexo:</label>
            <label data-bind="text:Sexo"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label>Endereco:</label>
            <label data-bind="text:Endereco"></label>
        </div>
        <div class="col-lg-6">
            <label>Profissão:</label>
            <label data-bind="text:Profissao"></label>
        </div>
    </div>
</div>
<!-- /ko -->