﻿ <!-- ko with: ClienteEdit  -->
<h2>Novo Cliente</h2>
<div class="col col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <label>Nome</label>
            <input class="form-control" data-bind="value :NomeCliente">
        </div>
        <div class="col-lg-3">
            <label>Idade</label>
            <input class="form-control" data-bind="value:Idade">
        </div>
        <div class="col-lg-3">
            <label>Sexo</label>
            <div class="inline-group">
                <input type="radio" class="radio-inline" id="sexo" name="sexo" value="F" data-bind="checked:Sexo">Feminino
                <input type="radio" class="radio-inline" id="sexo" name="sexo" value="M" data-bind="checked:Sexo">Masculino
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label>Endereco</label>
            <input class="form-control" data-bind="value:Endereco">
        </div>
        <div class="col-lg-6">
            <label>Profissao</label>
            <input class="form-control" data-bind="value:Profissao">
        </div>
    </div>
    <div class="row">
        <button class="btn btn-default btn-primary pull-right" data-bind="click: $root.Edit">Editar</button>
    </div>
</div>
<!-- /ko -->
