﻿ <!-- ko if: Router()==='Clientes'  -->
<h2>Lista de Clientes</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Código Cliente</th>
            <th>Nome</th>
            <th>Profissão</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Clientes">
        <tr>
            <td data-bind="text:Id"></td>
            <td data-bind="text:NomeCliente"></td>
            <td data-bind="text:Profissao"></td>
            <td>
                <a title="Visualizar" data-bind="click: $root.GoToDetails"><i class="fa fa-file-o"></i></a>
                <a title="Editar" data-bind="click:$root.GoToEdit"><i class="fa fa-pencil-square-o"></i></a>
                <a title="Delete" data-bind="click: $root.Remove"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>

    </tbody>
</table>
<!-- /ko -->