﻿
<!-- ko with: RelatorioCliente  -->
<h2>Relatorio</h2>
<div class="col col-lg-12">
    <div class="row">
        <div class="col-lg-12">
          <canvas id="chart-idade"></canvas>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <canvas id="chart-sexo"></canvas>
        </div>
    </div>
</div>
<!-- /ko -->